VITE_SUPABASE_URL=https://fhvdvyvlzempvcqtpqbm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZodmR2eXZsemVtcHZjcXRwcWJtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTM1NzYzNzEsImV4cCI6MjA2OTE1MjM3MX0.KWnFlG4B47kH9yBh0RAjbi5qCI9OKSbkNIPAMHpS0VY
VITE_SUPABASE_PUBLIC_KEY=sb_publishable_Kv2i4VKE2SPMdZhzloB-ig_3ZBvyfE8